### Import Necessary Libraries

In [1]:
import pandas as pd
import random
import warnings
warnings.filterwarnings("ignore")

### Read the Extracted Dataset

In [2]:
movies_df = pd.read_csv('Extracted_Dataset.csv')

movies_df = movies_df.iloc[:,1:]

movies_df.head()

,Popular_cast,director_name,keywords,movie_genre,movie_id,overview,release_date,title
0,['Tommy Lee Jones' 'Will Smith' 'Steven Spielb...,['Barry Sonnenfeld'],['new york city' 'secret identity' 'undercover...,['Action' 'Adventure' 'Comedy' 'Science Fiction'],607.0,After a police chase with an otherworldly bein...,1997-07-02,Men in Black
1,['Sandra Bullock' 'Awkwafina' 'Dakota Fanning'...,['Gary Ross'],['new york city' 'heist' 'spin off' 'estranged...,['Crime' 'Comedy' 'Action'],402900.0,"Debbie Ocean, a criminal mastermind, gathers a...",2018-06-07,Ocean's Eight
2,['Manuel Garcia-Rulfo' 'Josh Brolin' 'Isabela ...,['Stefano Sollima'],['corruption' 'cia' 'sequel' 'rescue' 'shootou...,['Action' 'Crime' 'Drama' 'Thriller'],400535.0,Agent Matt Graver teams up with operative Alej...,2018-06-27,Sicario: Day of the Soldado
3,['Anne Heche' 'Adam Baldwin' 'Tom Kenny' 'Swoo...,['Lauren Montgomery' 'Bruce Timm' 'Brandon Vie...,['superhero' 'based on comic' 'super power' 'd...,['Action' 'Animation' 'Science Fiction' 'Family'],13640.0,When LexCorp accidentally unleashes a murderou...,2007-09-18,Superman: Doomsday
4,['Ana de Armas' 'Joseph Gordon-Levitt' 'Michae...,['Rian Johnson'],['detective' 'massachusetts' 'immigrant' 'big ...,['Comedy' 'Crime' 'Mystery'],546554.0,When renowned crime novelist Harlan Thrombey i...,2019-11-27,Knives Out

In [3]:
movies_df.dtypes

Popular_cast      object
director_name     object
keywords          object
movie_genre       object
movie_id         float64
overview          object
release_date      object
title             object
dtype: object

In [4]:
movies_df['movie_id'] = movies_df['movie_id'].astype(object)

In [5]:
movies_df.dtypes

Popular_cast     object
director_name    object
keywords         object
movie_genre      object
movie_id         object
overview         object
release_date     object
title            object
dtype: object

In [6]:
movies_df = movies_df[['movie_id','title','movie_genre','keywords','director_name','Popular_cast','overview']]

In [7]:
movies_df['overview']=movies_df['overview'].apply(lambda x:str(x))
movies_df['overview'] = movies_df['overview'].apply(lambda x : x.split())

In [8]:
movies_df.head()

,movie_id,title,movie_genre,keywords,director_name,Popular_cast,overview
0,607,Men in Black,['Action' 'Adventure' 'Comedy' 'Science Fiction'],['new york city' 'secret identity' 'undercover...,['Barry Sonnenfeld'],['Tommy Lee Jones' 'Will Smith' 'Steven Spielb...,"[After, a, police, chase, with, an, otherworld..."
1,402900,Ocean's Eight,['Crime' 'Comedy' 'Action'],['new york city' 'heist' 'spin off' 'estranged...,['Gary Ross'],['Sandra Bullock' 'Awkwafina' 'Dakota Fanning'...,"[Debbie, Ocean,, a, criminal, mastermind,, gat..."
2,400535,Sicario: Day of the Soldado,['Action' 'Crime' 'Drama' 'Thriller'],['corruption' 'cia' 'sequel' 'rescue' 'shootou...,['Stefano Sollima'],['Manuel Garcia-Rulfo' 'Josh Brolin' 'Isabela ...,"[Agent, Matt, Graver, teams, up, with, operati..."
3,13640,Superman: Doomsday,['Action' 'Animation' 'Science Fiction' 'Family'],['superhero' 'based on comic' 'super power' 'd...,['Lauren Montgomery' 'Bruce Timm' 'Brandon Vie...,['Anne Heche' 'Adam Baldwin' 'Tom Kenny' 'Swoo...,"[When, LexCorp, accidentally, unleashes, a, mu..."
4,546554,Knives Out,['Comedy' 'Crime' 'Mystery'],['detective' 'massachusetts' 'immigrant' 'big ...,['Rian Johnson'],['Ana de Armas' 'Joseph Gordon-Levitt' 'Michae...,"[When, renowned, crime, novelist, Harlan, Thro..."

In [9]:
movies_df['movie_genre'] = movies_df['movie_genre'].apply(lambda x : x.replace(" ",""))

In [10]:
movies_df['director_name'] = movies_df['director_name'].apply(lambda x : x.replace(" ",""))

### create a new column tags by combining all the text columns

In [11]:
x = movies_df["Popular_cast"][0].replace("[","").replace("]","").replace(" ","").split()

In [12]:
movies_df['Popular_cast'] = movies_df['Popular_cast'].apply(lambda x : x.replace('"','')\
                                         .replace("[","")\
                                         .replace("]","")\
                                         .replace(" ","")\
                                         .split())

movies_df['Popular_cast']

0       ['TommyLeeJones''WillSmith''StevenSpielberg'Vi...
1       ['SandraBullock''Awkwafina''DakotaFanning''Hel...
2       ['ManuelGarcia-Rulfo''JoshBrolin''IsabelaMerce...
3       ['AnneHeche''AdamBaldwin''TomKenny''SwoosieKur...
4       ['AnadeArmas''JosephGordon-Levitt''MichaelShan...
                              ...
3801    ['EmmaThompson''JulieWalters''BillyConnolly''K...
3802    ['TimothéeChalamet''ArmieHammer''MichaelStuhlb...
3803    ['KimCattrall''AnnaleighAshford''KristinDavis'...
3804    ['JakeGyllenhaal''RachelMcAdams''NaomieHarris'...
3805    ['JohnKrasinski''SethRogen''AntonioBanderas''C...
Name: Popular_cast, Length: 3806, dtype: object

In [13]:
movies_df['Popular_cast'] = movies_df['Popular_cast'].apply(lambda x : " ".join(x))
movies_df['Popular_cast'].apply(lambda x : x.replace("'"," ").split())

0       [TommyLeeJones, WillSmith, StevenSpielberg, Vi...
1       [SandraBullock, Awkwafina, DakotaFanning, Hele...
2       [ManuelGarcia-Rulfo, JoshBrolin, IsabelaMerced...
3       [AnneHeche, AdamBaldwin, TomKenny, SwoosieKurt...
4       [AnadeArmas, JosephGordon-Levitt, MichaelShann...
                              ...
3801    [EmmaThompson, JulieWalters, BillyConnolly, Ke...
3802    [TimothéeChalamet, ArmieHammer, MichaelStuhlba...
3803    [KimCattrall, AnnaleighAshford, KristinDavis, ...
3804    [JakeGyllenhaal, RachelMcAdams, NaomieHarris, ...
3805    [JohnKrasinski, SethRogen, AntonioBanderas, Ca...
Name: Popular_cast, Length: 3806, dtype: object

In [14]:
movies_df['Popular_cast'].apply(lambda x : x.replace("'"," ").split())
movies_df['overview'].apply(lambda x : " ".join(x))

0       After a police chase with an otherworldly bein...
1       Debbie Ocean, a criminal mastermind, gathers a...
2       Agent Matt Graver teams up with operative Alej...
3       When LexCorp accidentally unleashes a murderou...
4       When renowned crime novelist Harlan Thrombey i...
                              ...
3801    Brave is set in the mystical Scottish Highland...
3802    In 1980s Italy, a relationship begins between ...
3803    A New York writer on sex and love is finally g...
3804    Billy "The Great" Hope, the reigning junior mi...
3805    The King of Far Far Away has died and Shrek an...
Name: overview, Length: 3806, dtype: object

In [15]:
movies_df['overview'] = movies_df['overview'].apply(lambda x : " ".join(x))

In [16]:
movies_df['tags'] = movies_df['movie_genre']+movies_df['keywords']+movies_df['Popular_cast']+movies_df['overview']

In [17]:
def convert(text):
    
    return text.replace("[","").replace("]","").replace("'"," ").replace("\n","").lower()

In [18]:
convert(movies_df['tags'][0])

' action  adventure  comedy  sciencefiction  new york city   secret identity   undercover   space marine   illegal immigration   deportation   new identity   giant cockroach   cannon   flying saucer   stay permit   superhero   alien   buddy cop   fictional government agency  tommyleejones  willsmith  stevenspielberg vincentd onofrio  sylvesterstallone after a police chase with an otherworldly being, a new york city cop is recruited as an agent in a top-secret organization established to monitor and police alien activity on earth: the men in black. agent kay and new recruit agent jay find themselves in the middle of a deadly plot by an intergalactic terrorist who has arrived on earth to assassinate two ambassadors from opposing galaxies.'

In [19]:
movies_df['tags'] = movies_df['tags'].apply(convert)

In [20]:
new_df = movies_df[['movie_id','title','tags']]
new_df.head()

,movie_id,title,tags
0,607,Men in Black,action adventure comedy sciencefiction ne...
1,402900,Ocean's Eight,crime comedy action new york city heist ...
2,400535,Sicario: Day of the Soldado,action crime drama thriller corruption ...
3,13640,Superman: Doomsday,action animation sciencefiction family su...
4,546554,Knives Out,comedy crime mystery detective massachus...

### Applying stemming or lemmatization on tags column

In [21]:
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [22]:
# Customized Function to split the text and use stemming techniques for each word
# Join the stemmed words

def stem(text):
    
    return " ".join([ps.stem(i) for i in text.split()])

In [23]:
new_df['tags'] = new_df['tags'].apply(stem)

new_df['tags'][0]

'action adventur comedi sciencefict new york citi secret ident undercov space marin illeg immigr deport new ident giant cockroach cannon fli saucer stay permit superhero alien buddi cop fiction govern agenc tommyleejon willsmith stevenspielberg vincentd onofrio sylvesterstallon after a polic chase with an otherworldli being, a new york citi cop is recruit as an agent in a top-secret organ establish to monitor and polic alien activ on earth: the men in black. agent kay and new recruit agent jay find themselv in the middl of a deadli plot by an intergalact terrorist who ha arriv on earth to assassin two ambassador from oppos galaxies.'

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

cv = CountVectorizer(stop_words='english',max_features=5000)
vectors = cv.fit_transform(new_df['tags']).toarray()

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [26]:
similarity

array([[1.        , 0.24884834, 0.07009652, ..., 0.29527343, 0.04189458,
        0.03320649],
       [0.24884834, 1.        , 0.04622502, ..., 0.33571983, 0.03453413,
        0.0182483 ],
       [0.07009652, 0.04622502, 1.        , ..., 0.01513069, 0.03112864,
        0.        ],
       ...,
       [0.29527343, 0.33571983, 0.01513069, ..., 1.        , 0.06782368,
        0.04778526],
       [0.04189458, 0.03453413, 0.03112864, ..., 0.06782368, 1.        ,
        0.06144342],
       [0.03320649, 0.0182483 , 0.        , ..., 0.04778526, 0.06144342,
        1.        ]])

In [27]:
recommended_movies = sorted(list(enumerate(similarity[0])), reverse=True, key = lambda x : x[1])[:6]
recommended_movies

[(0, 0.9999999999999999),
 (522, 0.5271366713916804),
 (385, 0.38938059873837383),
 (1371, 0.3823956264058725),
 (1959, 0.35636448457102227),
 (1508, 0.3337166073858161)]

In [28]:
def recommend_movies(movie_name):
    movie_index = new_df[new_df['title']== movie_name].index[0]
    distances = similarity[movie_index]
    recommended_movies = sorted(list(enumerate(distances)), reverse=True, key = lambda x : x[1])[:6]
    
    for i in recommended_movies[1:]:
        print(new_df.iloc[i[0],:]['title'])

In [29]:
recommend_movies('The Batman')

Batman: The Long Halloween, Part One
I Am All Girls
Se7en
Zodiac
The Bone Collector

### Save the dataframe & similarity matrix into pickle files

In [31]:
import pickle

In [34]:
### To save the pkl file locally on the disk, use the below commands

pkl_filename1 = 'movies.pkl'
with open(pkl_filename1, 'wb') as file:
    pickle.dump(new_df, file)

In [35]:
pkl_filename2 = 'similarity.pkl'
with open(pkl_filename2, 'wb') as file:
    pickle.dump(similarity, file)